html {
    overflow: hidden;
    border: 1px solid rgb(185, 185, 185);
    /*min-height: 100%;*/
    background-color: rgb(43, 43, 43);
    color: white;
}

.menu {
    margin: 2% 2%;
}

.menu-label {
    color: white;
}

.menu-list li {
    font-size: 13px;
    text-indent: 6%;
    padding-top: 1.5%;
}

.menu-list li a{
    color: white;
}

.is-divider {
    color: white;
}